*.zip
*.p
*.meta
*.index
*.gz
*.ckpt.data-00000-of-00001

#Image Classification Project 
.ipynb_checkpoints/
checkpoint
cifar-10-batches-py/
image_classification.data-00000-of-00001
save.data-00000-of-00001
__pycache__/
